$nauts-blue: #00b3fe;
$nauts-orange: #fed136;
$naut-yellow: #fcee21;
$naut-blue: #7fcdee;
$naut-orange: #f7931e;
$naut-red: #ff1d25;
$wild-sand: #f4f4f4;
$gallery: #efefef;
$white: #fff;
$boulder: #777;
